## Deliverable 3. Create a Travel Itinerary Map.

In [65]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [66]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,28,Hilo,US,74.28,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
1,29,Barranca,PE,70.84,overcast clouds,-10.7500,-77.7667,El Olivar Hospedaje
2,37,Sur,OM,74.66,clear sky,22.5667,59.5289,Sur Plaza Hotel
3,38,Puerto Ayora,EC,73.36,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,50,Langsa,ID,74.35,broken clouds,4.4683,97.9683,OYO 2964 Hotel Ridho

In [67]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>County</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [68]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "San Antonio"]
vacation_end = vacation_df.loc[vacation_df["City"] == "San Antonio"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Ardmore"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Hope"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Longview"]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
57,785,San Antonio,US,74.52,overcast clouds,29.4241,-98.4936,Drury Plaza Hotel San Antonio Riverwalk

In [70]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()
start = start[0]
#Use start[0] and start[1] for individual values

end = vacation_end[["Lat", "Lng"]].to_numpy()
end = end[0]

stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop1 = stop1[0]

stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop2 = stop2[0]

stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()
stop3 = stop3[0]
stop3

array([ 32.5007, -94.7405])

In [53]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

# Latitude-longitude pairs
start = (start[0], start[1])
end = (end[0], end[1])
stop1 = (stop1[0], stop1[1])
stop2 = (stop2[0], stop2[1])
stop3 = (stop3[0], stop3[1])

fig = gmaps.figure()
san_antonio_rt = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(san_antonio_rt)
fig

Figure(layout=FigureLayout(height='420px'))

In [71]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,785,San Antonio,US,74.52,overcast clouds,29.4241,-98.4936,Drury Plaza Hotel San Antonio Riverwalk
1,1093,Ardmore,US,70.21,mist,34.1743,-97.1436,"Motel 6 Ardmore, OK"
2,1258,Hope,US,70.99,overcast clouds,33.6671,-93.5916,Best Western Hope
3,773,Longview,US,74.07,broken clouds,32.5007,-94.7405,Homewood Suites by Hilton Longview

In [72]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>County</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [73]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(31.5, -96), zoom_level=6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))